body {
  font-family: poppins, sans-serif;
  background-color: #f8f8f6;
  margin: 5%;
}

h1 {
  font-size: 3rem;
  margin: 0px;
}

h2 {
  font-weight: 400;
  margin: 0px;
}

h4 {
  margin: 0px;
}

#header {
  color: #0070c0;
  text-align: center;
}

span {
  font-weight: 650;
}

img {
  float: right;
  position: relative;
  margin: 20px 0 20px 50px;
}

li ul {
  margin: 0px;
}

#contact-info a,
#contact-info a:visited {
  color: white !important;
}

#contact-info footer {
  background-color: #0070c0;
  text-align: center;
  color: white;
}

.title {
  text-decoration: underline;
  color: #0070c0;
  margin-bottom: 5px;
}

.date {
  color: grey;
  margin: 0;
}

#summary-text {
  text-align: justify;
}

@media (max-width: 680px) {
  .image-container {
    display: flex;
    justify-content: center;
  }
  img {
    margin: 0;
  }
}
